body{
    background: linear-gradient(120deg,white,dodgerblue);

}
.jumbotron{
    background: linear-gradient(90deg,dodgerblue,lightskyblue);
    box-shadow: 0 0 20px blue;
}
a{
    border-radius: 20px!important;
    border: 2px solid white!important;
    padding: 0.5rem 1.5rem!important;
    box-sizing: border-box !important;

}